---
layout: base
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>

  <body>
    <div class="wrapper">
      <header class="transparent-header">
        <nav>
          <ul>
            <li><a href="/">X10focus</a></li>
            <li><a href="/#features">Features</a></li>
            <li><a href="/#how-it-works">How It Works</a></li>
            <li><a href="{{ '/privacy-policy/' | relative_url }}">Privacy Policy</a></li>
            <li><a href="{{ '/terms-of-service/' | relative_url }}">Terms of service</a></li>
          </ul>
        </nav>
      </header>

      <main>
        <article class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title | escape }}</h1>
          </header>
        
          <div class="post-content">
            {{ content }}
          </div>
        
        </article>
      </main>
    </div>

    {%- include footer.html -%}
    <!-- <footer class="transparent-footer">
        <footer>
            <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
        </footer>
    </footer> -->
  </body>
</html>
