<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <div class="wrapper">
    <header class="transparent-header">
      <nav>
        <ul>
          <li><a href="#features">Features</a></li>
          <li><a href="#how-it-works">How It Works</a></li>
          <li><a href="#pricing">Pricing</a></li>
        </ul>
      </nav>
    </header>

    <main>
        <div class="hero">
            <h1>X10focus: A Pomodoro Timer for You</h1>
            <p class="subtext">Smart way of increasing productivity/efficiency and eliminating distractions for IT engineers & managers.</p>
            <a href="#" class="app-store-btn">Get it on the App Store</a>
            <br/>
            <img src="{{ '/assets/product-screenshot.png' | relative_url }}" alt="Product Screenshot" class="product-screenshot">
        </div>
        <div id="features" class="section">
            <h2 class="section-heading">Features</h2>
            <ul class="feature-list">
              <li>Smart productivity and efficiency boosting techniques tailored for IT engineers & managers.</li>
              <li>Focus enhancement tools designed to keep 10x engineers on track, prioritize tasks, and manage time effectively.</li>
              <li>Meeting reminders and alerts to ensure punctuality without compromising individual focus.</li>
              <li>Task management features to organize workloads and maintain productivity flow.</li>
              <li>Distractibility reduction mechanisms for uninterrupted work sessions.</li>
            </ul>
        </div>
        
        <div id="how-it-works" class="section">
            <h2 class="section-heading">How it works</h2>
            <div class="how-it-works-content">
            <p>
                The way x10focus works is by seamlessly connecting tasks from your Google Calendar. This integration makes it incredibly convenient to see both your scheduled tasks and upcoming events in one unified view. With this consolidated perspective, you can easily prioritize your work and take timely actions based on your schedule. By bringing tasks and events together, x10focus ensures that you stay organized and efficient, maximizing your productivity throughout the day.
            </p>
            </div>
        </div>

        <div id="pricing" class="section">
            <h2 class="section-heading">Pricing</h2>
            <div class="how-it-works-content">
            <p>
                The tool is free to use.
            </p>
        </div>
          </div>
      
      
    </main>
  </div>

  <footer class="transparent-footer">
    <p>&copy; 2024 x10focus. All rights reserved.</p>
  </footer>
</body>

</html>
